
#city_select_bar {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0.4;
	z-index: 200;

	background-color: green;

	display: none;
}

#city_select_bar:hover {
	opacity: 0.9;
}

#weather_panel {
	width: 660px;
	height: 272px;
	margin-left: auto;
	margin-right: auto;
}

#weather_panel_wrap {
	width: 100%;
	background-color: #7ae269;
}

.weather-frame {
	position: static;
	height: 100%;
	width: 33.3%;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: none;
}

.weather-tile {
	width: 200px;
	height: 200px;
	line-height: 180px;
	position: static;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-down: 10px;
	display: inline-block;
	text-align: center;
	font-size: 100px;
	color: #000000;
}

.weather-text {
	width:100%;
	display: inline-block;
	line-height: normal;
	position: relative;
	text-align: center;
	height: 50px;
	line-height: 40px;
	font-size: 22px;
	color: #000000;
}

.state {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #333333;
}

.kartinka {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	line-height: 70%;
	color: #333333;
}

#weather_thumbnail {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

body {
	margin: 0;
	overflow: hidden;
}

.content-wrapper {
	width: 100%;
	height: 100%;
}

.cloth-container-wrapper {
	background-image: url(/img/background.png);
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
	width: 100%;
}

.cloth-container {
	position: relative;
	width: 420px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.loading-animation {
	z-index: 10;
	width: 100px;
	opacity: 0.6;
}

.error-message {
	display: none;
}

.humans {
	display: none;
	z-index: 1;
}

.cloth-layer {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*
 * Группы одежды:
 * top - Торс
 * head - Головной убор
 * hands - Руки
 * legs - Ноги
 * shoes - Обувь
 * something - Акссесуары
 */

.cloth-group-girl-top {
	z-index: 20;
}

.cloth-group-girl-head {
	z-index: 30;
}

.cloth-group-girl-hands {
	z-index: 40;
}

.cloth-group-girl-legs {
	z-index: 10;
}

.cloth-group-girl-shoes {
	z-index: 50;
}

.cloth-group-girl-something {
	z-index: 60;
}

.cloth-group-boy-top {
	z-index: 25;
}

.cloth-group-boy-head {
	z-index: 35;
}

.cloth-group-boy-hands {
	z-index: 45;
}

.cloth-group-boy-legs {
	z-index: 15;
}

.cloth-group-boy-shoes {
	z-index: 55;
}

.cloth-group-boy-something {
	z-index: 65;
}
